## Setup

In [1]:
import pandas as pd
import random
import uuid
from datetime import datetime, timedelta, date
from faker import Faker

# Initialize Faker (using Indonesian locale for more contextual data)
fake = Faker('id_ID')

# --- Configuration ---
NUM_CABANG = 1000
NUM_KARYAWAN = 6000
NUM_TRANSAKSI_HARIAN_RECORDS = 100000
# Number of unique shopping instances (each can have one or more items)
NUM_UNIQUE_TRANSACTION_EVENTS = 40000

# --- Master Data ---
JABATAN_LIST = ['Kasir', 'Staff Gudang', 'Supervisor Toko', 'Asisten Manajer', 'Manajer Toko', 'Pramuniaga', 'Admin']

# Items and their consistent prices (100 unique items)
ITEMS_PRICE_MAP = {
    'Beras Premium 5kg': 65000,
    'Minyak Goreng Refill 2L': 32000,
    'Gula Pasir 1kg': 14000,
    'Telur Ayam (per kg)': 25000,
    'Roti Tawar': 15000,
    'Susu UHT Cokelat 1L': 18000,
    'Kopi Instan Sachet (isi 10)': 12000,
    'Teh Celup Kotak (isi 25)': 8000,
    'Mie Instan Goreng (5 bungkus)': 13000,
    'Sabun Mandi Batang': 3000,
    'Shampoo Botol 170ml': 22000,
    'Pasta Gigi 100g': 9000,
    'Deterjen Bubuk 800g': 17000,
    'Air Mineral Galon 19L': 20000,
    'Biskuit Kaleng': 35000,
    'Keju Slice 10 lembar': 27000,
    'Sosis Ayam 500g': 30000,
    'Daging Sapi (per kg)': 110000,
    'Daging Ayam (per kg)': 38000,
    'Sayur Bayam Ikat': 4000,
    'Wortel 1kg': 10000,
    'Kentang 1kg': 13000,
    'Bawang Merah 1kg': 28000,
    'Bawang Putih 1kg': 26000,
    'Cabai Merah 250g': 12000,
    'Tomat 1kg': 8000,
    'Mentimun 1kg': 7000,
    'Minyak Samin 200ml': 15000,
    'Kecap Manis Botol 275ml': 12000,
    'Saus Sambal Botol 135ml': 9000,
    'Santan Instan 65ml (5 pcs)': 10000,
    'Kerupuk Udang 250g': 11000,
    'Tepung Terigu 1kg': 12000,
    'Tepung Beras 500g': 8000,
    'Garam Dapur 500g': 3000,
    'Margarin 200g': 6000,
    'Susu Kental Manis Kaleng': 10000,
    'Susu Bubuk Anak 400g': 55000,
    'Baterai AA Isi 2': 12000,
    'Tisu Gulung Isi 2': 9000,
    'Tisu Wajah 1 Kotak': 8000,
    'Sabun Cuci Piring 800ml': 15000,
    'Pembersih Lantai 800ml': 14000,
    'Pel Lantai': 25000,
    'Sapu Lidi': 12000,
    'Ember 10L': 18000,
    'Gayung Plastik': 7000,
    'Sikat Gigi 2 pcs': 9000,
    'Handuk Kecil': 25000,
    'Sikat WC': 10000,
    'Kain Pel': 8000,
    'Kopi Bubuk 200g': 22000,
    'Kopi Instan Botol 240ml': 9000,
    'Air Mineral 600ml (isi 6)': 18000,
    'Cokelat Batangan 50g': 7000,
    'Permen Mint Pack': 5000,
    'Kacang Kulit 250g': 11000,
    'Kacang Tanah 1kg': 22000,
    'Tepung Maizena 250g': 7000,
    'Tepung Tapioka 500g': 6000,
    'Minuman Isotonik Botol': 7000,
    'Bumbu Nasi Goreng Instan': 3000,
    'Bumbu Sop Instan': 3000,
    'Mi Telur 500g': 9000,
    'Spaghetti 500g': 12000,
    'Saus Tomat 340g': 9000,
    'Mayonnaise Sachet 200g': 15000,
    'Sereal Kotak 200g': 18000,
    'Susu Bubuk Dewasa 400g': 45000,
    'Sikat Botol Bayi': 11000,
    'Popok Bayi (isi 20)': 55000,
    'Tisu Basah (isi 50)': 12000,
    'Pembersih Kaca Spray': 15000,
    'Obat Nyamuk Semprot': 18000,
    'Obat Nyamuk Bakar Isi 10': 6000,
    'Korek Api Gas': 5000,
    'Minyak Kayu Putih 60ml': 15000,
    'Obat Luka Cair 60ml': 14000,
    'Vitamin C Strip (isi 10)': 10000,
    'Masker Sekali Pakai (isi 10)': 9000,
    'Sabun Cuci Muka 100ml': 20000,
    'Body Lotion 200ml': 22000,
    'Bedak Bayi 100g': 8000,
    'Shampoo Sachet (isi 10)': 10000,
    'Kapas 100g': 7000,
    'Minyak Telon 60ml': 16000,
    'Hand Sanitizer 100ml': 12000,
    'Botol Minum Plastik 1L': 10000,
    'Lunch Box Plastik': 13000,
    'Sendok Garpu Set': 10000,
    'Wajan Anti Lengket 20cm': 70000,
    'Rice Cooker Mini': 250000,
    'Gas Elpiji 3kg': 20000,
    'Lilin (isi 6)': 6000,
    'Sapu Ijuk': 15000,
    'Gelas Plastik Isi 6': 12000,
    'Plastik Kresek 1kg': 15000
}

ITEM_NAMES = list(ITEMS_PRICE_MAP.keys())

# Date range for transactions
TRANSACTION_START_DATE = date(2024, 1, 1)
TRANSACTION_END_DATE = date(2024, 12, 31)
TRANSACTION_DATE_RANGE_DAYS = (TRANSACTION_END_DATE - TRANSACTION_START_DATE).days

print("Setup complete. Faker initialized for 'id_ID'.")
print(f"Target Cabang: {NUM_CABANG}")
print(f"Target Karyawan: {NUM_KARYAWAN}")
print(f"Target Transaksi Harian Records: {NUM_TRANSAKSI_HARIAN_RECORDS}")
print(f"Target Unique Transaction Events: {NUM_UNIQUE_TRANSACTION_EVENTS}")

Setup complete. Faker initialized for 'id_ID'.
Target Cabang: 1000
Target Karyawan: 6000
Target Transaksi Harian Records: 100000
Target Unique Transaction Events: 40000

## Generate `Cabang` Sheet

In [2]:
# Cell 2: Generate Cabang Data (Corrected)

cabang_data = []
for i in range(1, NUM_CABANG + 1):
    id_cabang = f"CB{i:03d}" # e.g., CB001, CB002, ..., CB100
    nama_cabang = f"Cabang {fake.city_name()}" # Using city_name for variety in branch names
    if random.random() < 0.3: # Add some variation like "Utama", "Pembantu"
        nama_cabang += " " + random.choice(["Utama", "Sentra", "Express", "Plus"])
    
    # Corrected line: using administrative_unit instead of province
    # and ensuring fake.city() or fake.city_name() is used for city
    lokasi = f"{fake.street_address()}, {fake.city()}, {fake.administrative_unit()}"
    kontak_cabang = fake.phone_number()
    
    cabang_data.append({
        "id_cabang": id_cabang,
        "nama_cabang": nama_cabang,
        "lokasi": lokasi,
        "kontak_cabang": kontak_cabang
    })

df_cabang = pd.DataFrame(cabang_data)
print("--- Cabang Data (First 5 Rows) ---")
# print(df_cabang.head())
print(f"\nGenerated {len(df_cabang)} cabang records.")

--- Cabang Data (First 5 Rows) ---

Generated 1000 cabang records.

In [4]:
df_cabang.head()

,id_cabang,nama_cabang,lokasi,kontak_cabang
0,CB001,Cabang Banda Aceh Utama,"Gg. Antapani Lama No. 138, Bengkulu, Jawa Barat",+62-54-779-4795
1,CB002,Cabang Padang Utama,"Gang Moch. Toha No. 7, Prabumulih, Sumatera Utara",(010) 934-1587
2,CB003,Cabang Palembang,"Jl. Antapani Lama No. 0, Tarakan, Jawa Barat",+62-31-672-2812
3,CB004,Cabang Tanjungpinang,"Jl. Waringin No. 58, Ternate, Sulawesi Barat",+62-57-677-2992
4,CB005,Cabang Mataram Sentra,"Jalan Pacuan Kuda No. 2, Tasikmalaya, Maluku U...",+62-0770-017-8548

## Generate `Karyawan` Sheet

In [5]:
karyawan_data = []
if df_cabang.empty:
    print("Cabang data is empty. Please generate cabang data first.")
else:
    list_id_cabang = df_cabang['id_cabang'].tolist()
    for i in range(1, NUM_KARYAWAN + 1):
        id_karyawan = f"KR{i:04d}" # e.g., KR0001, ..., KR2000
        nama_karyawan = fake.name()
        jabatan = random.choice(JABATAN_LIST)
        assigned_id_cabang = random.choice(list_id_cabang)
        
        karyawan_data.append({
            "id_karyawan": id_karyawan,
            "nama_karyawan": nama_karyawan,
            "jabatan": jabatan,
            "id_cabang": assigned_id_cabang
        })

    df_karyawan = pd.DataFrame(karyawan_data)
    print("--- Karyawan Data (First 5 Rows) ---")
    print(f"\nGenerated {len(df_karyawan)} karyawan records.")

--- Karyawan Data (First 5 Rows) ---

Generated 6000 karyawan records.

In [6]:
df_karyawan.head()

  id_karyawan          nama_karyawan          jabatan id_cabang
0      KR0001     Sutan Nalar Wijaya  Asisten Manajer     CB495
1      KR0002  T. Perkasa Mangunsong     Staff Gudang     CB310
2      KR0003        Hj. Icha Waluyo     Staff Gudang     CB666
3      KR0004    R. Jono Tamba, M.M.  Supervisor Toko     CB611
4      KR0005  Kalim Prasetya, S.Sos  Asisten Manajer     CB686

In [7]:
# Create a helper mapping for easier lookup of (karyawan_id, cabang_id)
karyawan_cabang_map = []
if not df_karyawan.empty:
    karyawan_cabang_map = list(df_karyawan[['id_karyawan', 'id_cabang']].itertuples(index=False, name=None))

## Generate `transaksi_harian` sheet

In [8]:
transaksi_harian_data = []

if not karyawan_cabang_map:
    print("Karyawan data is empty or map not created. Please generate karyawan data first.")
else:
    # 1. Generate unique transaction events (core info)
    unique_transaction_events = []
    for i in range(1, NUM_UNIQUE_TRANSACTION_EVENTS + 1):
        id_transaksi_unik = f"TRX{i:05d}" # e.g., TRX00001
        id_karyawan, id_cabang = random.choice(karyawan_cabang_map)
        
        random_days = random.randint(0, TRANSACTION_DATE_RANGE_DAYS)
        tanggal_transaksi = TRANSACTION_START_DATE + timedelta(days=random_days)
        
        unique_transaction_events.append({
            "id_transaksi": id_transaksi_unik,
            "id_karyawan": id_karyawan,
            "id_cabang": id_cabang,
            "tanggal": tanggal_transaksi.isoformat()
        })

    # 2. Generate transaction line items to meet NUM_TRANSAKSI_HARIAN_RECORDS
    current_records_count = 0
    
    # Ensure each unique transaction event has at least one item
    for event in unique_transaction_events:
        if current_records_count >= NUM_TRANSAKSI_HARIAN_RECORDS:
            break # Stop if we've already reached the target
            
        id_transaksi_harian = str(uuid.uuid4())
        nama_barang = random.choice(ITEM_NAMES)
        harga_barang = ITEMS_PRICE_MAP[nama_barang]
        qty = random.randint(1, 5) # Max 5 items per line item
        total_transaksi = qty * harga_barang
        
        transaksi_harian_data.append({
            "id_transaksi_harian": id_transaksi_harian,
            "id_transaksi": event["id_transaksi"],
            "id_cabang": event["id_cabang"],
            "id_karyawan": event["id_karyawan"],
            "tanggal": event["tanggal"],
            "nama_barang": nama_barang,
            "qty": qty,
            "harga_barang": harga_barang,
            "total_transaksi": total_transaksi
        })
        current_records_count += 1

    # Add more items to random unique transactions until NUM_TRANSAKSI_HARIAN_RECORDS is met
    while current_records_count < NUM_TRANSAKSI_HARIAN_RECORDS:
        event = random.choice(unique_transaction_events) # Pick a random existing transaction event
        
        id_transaksi_harian = str(uuid.uuid4())
        nama_barang = random.choice(ITEM_NAMES)
        harga_barang = ITEMS_PRICE_MAP[nama_barang]
        qty = random.randint(1, 5)
        total_transaksi = qty * harga_barang
        
        transaksi_harian_data.append({
            "id_transaksi_harian": id_transaksi_harian,
            "id_transaksi": event["id_transaksi"],
            "id_cabang": event["id_cabang"],
            "id_karyawan": event["id_karyawan"],
            "tanggal": event["tanggal"], # Use the same date as the parent transaction event
            "nama_barang": nama_barang,
            "qty": qty,
            "harga_barang": harga_barang,
            "total_transaksi": total_transaksi
        })
        current_records_count += 1
        
    df_transaksi_harian = pd.DataFrame(transaksi_harian_data)
    # Shuffle the transaction data for more randomness if needed
    df_transaksi_harian = df_transaksi_harian.sample(frac=1).reset_index(drop=True)

    print("--- Transaksi Harian Data (First 5 Rows) ---")
    # print(df_transaksi_harian.head())
    print(f"\nGenerated {len(df_transaksi_harian)} transaksi harian records.")

--- Transaksi Harian Data (First 5 Rows) ---

Generated 100000 transaksi harian records.

In [9]:
df_transaksi_harian.head()

,id_transaksi_harian,id_transaksi,id_cabang,id_karyawan,tanggal,nama_barang,qty,harga_barang,total_transaksi
0,3627dbf5-fcdf-4168-bb86-5c654cdb048b,TRX14804,CB621,KR2847,2024-05-10,Sosis Ayam 500g,2,30000,60000
1,7ce15964-2019-4eb2-b00e-3f686cd1a353,TRX27006,CB848,KR1226,2024-01-14,Sapu Ijuk,3,15000,45000
2,1cdc5c6e-4fc4-454f-9035-90ad52b75027,TRX12605,CB545,KR1955,2024-02-14,Susu Bubuk Dewasa 400g,4,45000,180000
3,c0dad4c5-a4db-4fc0-9cb3-3b509b61298c,TRX04179,CB656,KR0564,2024-07-02,Tisu Basah (isi 50),3,12000,36000
4,472e5279-6e33-4484-98db-385349d3648a,TRX35754,CB547,KR2891,2024-07-12,Handuk Kecil,1,25000,25000

## Import Grocery Data to `.csv`

In [10]:
df_transaksi_harian.to_csv('transaksi_harian_data.csv', index=False)

In [11]:
# Define the output Excel file name
excel_output_filename = "2_synthetic_grocery_data.xlsx"

try:
    with pd.ExcelWriter(excel_output_filename, engine='openpyxl') as writer:
        if not df_cabang.empty:
            df_cabang.to_excel(writer, sheet_name='Cabang', index=False)
            print(f"Sheet 'Cabang' written with {len(df_cabang)} rows.")
        else:
            print("Cabang data is empty, not writing to Excel.")
            
        if not df_karyawan.empty:
            df_karyawan.to_excel(writer, sheet_name='Karyawan', index=False)
            print(f"Sheet 'Karyawan' written with {len(df_karyawan)} rows.")
        else:
            print("Karyawan data is empty, not writing to Excel.")
            
        if not df_transaksi_harian.empty:
            df_transaksi_harian.to_excel(writer, sheet_name='Transaksi_Harian', index=False)
            print(f"Sheet 'Transaksi_Harian' written with {len(df_transaksi_harian)} rows.")
        else:
            print("Transaksi Harian data is empty, not writing to Excel.")
            
    print(f"\nSuccessfully exported data to '{excel_output_filename}'")
    # alhamdulillah
except Exception as e:
    print(f"An error occurred during Excel export: {e}")

# Note: If you strictly need CSV files, you would do:
# df_cabang.to_csv('cabang_data.csv', index=False)
# df_karyawan.to_csv('karyawan_data.csv', index=False)
# df_transaksi_harian.to_csv('transaksi_harian_data.csv', index=False)
# print("\nIf you prefer CSV, three separate files would be created.")

Sheet 'Cabang' written with 1000 rows.
Sheet 'Karyawan' written with 6000 rows.
Sheet 'Transaksi_Harian' written with 100000 rows.

Successfully exported data to '2_synthetic_grocery_data.xlsx'